<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">ProfProgress/О нас</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<p th:text="${title}"/>

<header th:insert="blocks/header  :: header"></header>
<div class="container mt-5">
    <h1>О нас</h1>
    <p>Комплексные поставки материалов, оборудования, а также изделий для систем водоснабжения, отопления, канализации и других инженерных сетей.</p>
    <p>ООО "ПрофПрогресс" - официальный дилер и дистрибьютор торговых марок, которые завоевали популярность и признание не только на территории Республики Беларусь, но и мировом рынке. Реализуемая продукция на практике доказала свое отменное качество и превосходные эксплуатационно-технические характеристики."</p>

</div>

<footer th:insert="blocks/footer  :: footer"></footer>
</body>
</html>