<div th:fragment="header">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <img src="https://rabota.by/employer-logo/4003548.png"/>
            <ul class="navbar-nav ml-md-auto">
                <nav class="d-inline-flex mt-2 mt-md-2 ms-md-auto">
                    <a class="p-2 text-dark" href="/">Главная</a>
                    <a class="p-2 text-dark" href="/story">О компании</a>
                    <a class="p-2 text-dark" href="/contacts">Контакты</a>
                </nav>
        </div>
    </header>
</div>